@import url('https://fonts.googleapis.com/css2?family=Meslo+LG+M:wght@400;700&display=swap');

:root {
  --bg-color: #1e1e2e;
  --text-color: #cdd6f4;
  --accent-color: #89b4fa;
  --header-bg: #313244;
  --footer-bg: #181825;

  font-family: 'Meslo LG M', monospace;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main {
  flex-grow: 1; /* Nimmt den gesamten verfügbaren Platz im #root ein */
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header-bg);
  padding: 1rem;
  text-align: center;
  color: var(--accent-color);
  font-size: 2rem;
}

.contentBox {
  flex-grow: 1; /* Füllt den restlichen Platz aus */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.2rem;
}

footer {
  background-color: var(--footer-bg);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
  border-top: 1px solid var(--header-bg);
}
